*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
node_modules/
venv/
__pycache__/
.env
.env.example
/.vscode
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db

# Hardhat
/hardhat/artifacts/
/hardhat/cache/
/hardhat/typechain-types/
